.dispenser {
  position: absolute;
  left: 76px;
  bottom: 44px;

  width: 288px;
  height: 82px;
  border: 2px solid white;
  border-radius: 15px;

  background-color: black;
}

.dispenser--active {
  cursor: pointer;
  animation: door-glow 0.75s infinite alternate ease;
}

.dispenser--active--red {
  color: #fe0002;
}

.dispenser--active--blue {
  color: #17f9fe;
}

.dispenser--active--green {
  color: #5bf501;
}
