.machine {
  display: inline-flex;
  height: 608px;
  border: 2px solid white;

  background: repeating-linear-gradient(-45deg, rgb(51,51,51), rgb(51,51,51) 1px, black 1px, black 6px);
}

  .machine__left {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    border-right: 2px solid white;
  }

  .machine__right {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

.coin-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94px;
  margin-top: 20px;
}

.coin-slot {
  position: relative;

  width: 6px;
  height: 65px;
  border: 2px solid white;

  background-color: black;
}

.coin-slot__drop-target {
  position: absolute;
  left: -27px;

  width: 60px;
  height: 65px;
}
