<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="vendingApp" ng-controller="VendingController" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  <link rel="stylesheet" href="styles/common.css">
  <link rel="stylesheet" href="styles/bank.css">
  <link rel="stylesheet" href="styles/coin-return.css">
  <link rel="stylesheet" href="styles/dispenser.css">
  <link rel="stylesheet" href="styles/item.css">
  <link rel="stylesheet" href="styles/machine.css">
  <link rel="stylesheet" href="styles/message.css">
  <link rel="stylesheet" href="styles/numpad.css">
  <link rel="stylesheet" href="styles/refund.css">
  <link rel="stylesheet" href="styles/showcase.css">
</head>
<body>
  <div class="machine">
    <div class="machine__left">
      <div class="showcase">
        <div class="showcase__row showcase__row--chips">
          <div class="showcase__column">
            <div ng-repeat="item in inventory[0][0]" class="item item--chips-{{$index}}">
              <img class="item__image item__image--chips" src="images/chips1.png">
            </div>
          </div>
          <div class="showcase__column">
            <div ng-repeat="item in inventory[0][1]" class="item item--chips-{{$index}}">
              <img class="item__image item__image--chips" src="images/chips2.png">
            </div>
          </div>
          <div class="showcase__column">
            <div ng-repeat="item in inventory[0][2]" class="item item--chips-{{$index}}">
              <img class="item__image item__image--chips" src="images/chips3.png">
            </div>
          </div>
        </div>
        <div class="showcase__shelf">
          <div class="shelf-label">
            <div class="shelf-label__id">A1</div>
            <div class="shelf-label__price">0.50</div>
          </div>
          <div class="shelf-label">
            <div class="shelf-label__id">A2</div>
            <div class="shelf-label__price">0.50</div>
          </div>
          <div class="shelf-label">
            <div class="shelf-label__id">A3</div>
            <div class="shelf-label__price">0.50</div>
          </div>
        </div>
        <div class="showcase__row showcase__row--candy">
          <div class="showcase__column">
            <div ng-repeat="item in inventory[1][0]" class="item item--candy-{{$index}}">
              <img class="item__image item__image--candy" src="images/candy1.png">
            </div>
          </div>
          <div class="showcase__column">
            <div ng-repeat="item in inventory[1][1]" class="item item--candy-{{$index}}">
              <img class="item__image item__image--candy" src="images/candy2.png">
            </div>
          </div>
          <div class="showcase__column">
            <div ng-repeat="item in inventory[1][2]" class="item item--candy-{{$index}}">
              <img class="item__image item__image--candy" src="images/candy3.png">
            </div>
          </div>
        </div>
        <div class="showcase__shelf">
          <div class="shelf-label">
            <div class="shelf-label__id">B1</div>
            <div class="shelf-label__price">0.65</div>
          </div>
          <div class="shelf-label">
            <div class="shelf-label__id">B2</div>
            <div class="shelf-label__price">0.65</div>
          </div>
          <div class="shelf-label">
            <div class="shelf-label__id">B3</div>
            <div class="shelf-label__price">0.65</div>
          </div>
        </div>
        <div class="showcase__row showcase__row--soda">
          <div class="showcase__column">
            <div ng-repeat="item in inventory[2][0]" class="item item--soda-{{$index}}">
              <img class="item__image item__image--soda" src="images/soda1.png">
            </div>
          </div>
          <div class="showcase__column">
            <div ng-repeat="item in inventory[2][1]" class="item item--soda-{{$index}}">
              <img class="item__image item__image--soda" src="images/soda2.png">
            </div>
          </div>
          <div class="showcase__column">
            <div ng-repeat="item in inventory[2][2]" class="item item--soda-{{$index}}">
              <img class="item__image item__image--soda" src="images/soda3.png">
            </div>
          </div>
        </div>
        <div class="showcase__shelf">
          <div class="shelf-label">
            <div class="shelf-label__id">C1</div>
            <div class="shelf-label__price">1.00</div>
          </div>
          <div class="shelf-label">
            <div class="shelf-label__id">C2</div>
            <div class="shelf-label__price">1.00</div>
          </div>
          <div class="shelf-label">
            <div class="shelf-label__id">C3</div>
            <div class="shelf-label__price">1.00</div>
          </div>
        </div>
      </div>
      <div class="dispenser" ng-class="{
       'dispenser--active': dispensedItems.length,
       'dispenser--active--red': dispensedItems[0].color === 'red',
       'dispenser--active--blue': dispensedItems[0].color === 'blue',
       'dispenser--active--green': dispensedItems[0].color === 'green'}">
      </div>
    </div>
    <div class="machine__right">
      <div class="message">{{message}}</div>
      <div class="numpad">
        <div class="numpad__row">
          <div class="numpad__button numpad__button--red"
               ng-class="{'numpad__button--disabled': !inventory[0][0].length}"
               ng-click="chooseItem(0,0)">
               A1
          </div>
          <div class="numpad__button numpad__button--blue"
               ng-class="{'numpad__button--disabled': !inventory[0][1].length}"
               ng-click="chooseItem(0,1)">
               A2
          </div>
          <div class="numpad__button numpad__button--green"
               ng-class="{'numpad__button--disabled': !inventory[0][2].length}"
               ng-click="chooseItem(0,2)">
               A3
          </div>
        </div>
        <div class="numpad__row">
          <div class="numpad__button numpad__button--red"
               ng-class="{'numpad__button--disabled': !inventory[1][0].length}"
               ng-click="chooseItem(1,0)">
               B1
          </div>
          <div class="numpad__button numpad__button--blue"
               ng-class="{'numpad__button--disabled': !inventory[1][1].length}"
               ng-click="chooseItem(1,1)">
               B2
          </div>
          <div class="numpad__button numpad__button--green"
               ng-class="{'numpad__button--disabled': !inventory[1][2].length}"
               ng-click="chooseItem(1,2)">
               B3
          </div>
        </div>
        <div class="numpad__row">
          <div class="numpad__button numpad__button--red"
               ng-class="{'numpad__button--disabled': !inventory[2][0].length}"
               ng-click="chooseItem(2,0)">
               C1
          </div>
          <div class="numpad__button numpad__button--blue"
               ng-class="{'numpad__button--disabled': !inventory[2][1].length}"
               ng-click="chooseItem(2,1)">
               C2
          </div>
          <div class="numpad__button numpad__button--green"
               ng-class="{'numpad__button--disabled': !inventory[2][2].length}"
               ng-click="chooseItem(2,2)">
               C3
          </div>
        </div>
      </div>
      <div class="coin-row">
        <div class="refund-button" ng-class="{'refund-button--active': hasInsertedCash}" ng-click="refund()">
          <div class="refund-button__label">REFUND</div>
        </div>
        <div class="coin-slot">
          <div class="coin-slot__drop-target" data-drop="true" ng-model="slotContents"
               jqyoui-droppable="droppableOptions"
               class="coin-slot">
          </div>
        </div>
      </div>
      <div class="coin-return" ng-class="{'coin-return--glowing': returnedItems.length}"></div>
    </div>
  </div>
  <div class="bank">
    <div class="coinstack">
      <img class="coinstack__image coinstack__image--nickels" src="images/nickels.svg">
      <div class="coinstack__label">NICKELS</div>
      <div data-drag="true" jqyoui-draggable="draggableOptions"
           ng-model="freeNickels" data-jqyoui-options="dragDropOptions"
           class="coin coin--nickel coin--hidden">
        <img class="coin__image coin__image--nickel" src="images/coin1.png">
      </div>
    </div>
    <div class="coinstack">
      <img class="coinstack__image coinstack__image--dimes" src="images/dimes.svg">
      <div class="coinstack__label">DIMES</div>
      <div data-drag="true" jqyoui-draggable="draggableOptions"
           ng-model="freeDimes" data-jqyoui-options="dragDropOptions"
           class="coin coin--dime coin--hidden">
        <img class="coin__image coin__image--dime" src="images/coin2.png">
      </div>
    </div>
    <div class="coinstack">
      <img class="coinstack__image coinstack__image--quarters" src="images/quarters.svg">
      <div class="coinstack__label">QUARTERS</div>
      <div data-drag="true" jqyoui-draggable="draggableOptions"
           ng-model="freeQuarters" data-jqyoui-options="dragDropOptions"
          class="coin coin--dime coin--hidden">
        <img class="coin__image coin__image--quarter" src="images/coin2.png">
      </div>
    </div>
    <div class="bank__instructions">drag the coins!</div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
  <script src="app.js"></script>
  <script src="vending-machine/modules/vending-module.js"></script>
  <script src="vending-machine/services/cash-service.js"></script>
  <script src="vending-machine/services/coin-validator-service.js"></script>
  <script src="vending-machine/services/inventory-service.js"></script>
  <script src="vending-machine/services/message-service.js"></script>
  <script src="vending-machine/services/output-service.js"></script>
  <script src="vending-machine/services/state-service.js"></script>
  <script src="vending-machine/filters/cents-to-dollars-filter.js"></script>
  <script src="vending-machine/controllers/vending-controller.js"></script>
</body>
</html>
